<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>some of my stuff!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
 <center>
   <body>
    <header>
      <h1>
        Coding Class 2019!
      </h1>
    </header>

    <main>
      Click a link to view a project! 
    </main>

    <center>  
      
      <p>
     Here's
      <a href="views/whatithink">what-i-think</a> 
    </p>
    
    <p>
      Some of the <a href="views/vidcode">vidcode</a> projects
      </p>
  
      <p>
         A bit of <a href="views/glitchwork">glitch work</a> 
      </p>
      
    </center>
   
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->

  </body>
  </center>
</html>
