<html lang="eng">
 <center>
  <h1>
 Here's some of the vidcode projects!
</h1>

<p>
  vidcode is a website which will help you learn javascript coding. by completing projects you further your knowledge of javascript and learn to code on a computer. the website isn't as pwerful as it should be, as it would glitch and slow down once a certain load was applied, like a video for example. overall it was quite a good learning experience. some of the final projects that i finished in vidocde are detailed below
  </p>
  
  <p>
   the meme
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/B9kQSQDmph"></iframe>
   </p>
  
   <p>
     the dream
     <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/rBUtQlFNFD"></iframe>
   </p>
   
  <p>
   the A team
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/du30z45NVn"></iframe>
   </p> 
   
  </center>
</html>
