 <html lang="eng">
<center>
  <h1>
My Thoughts on the course
   </h1>

<body>
  
  <p>
    I enjoy this course, it is difficult though becuase you are learning a new language and that is hard. It reqires focus and patience to learn everything properly, and you almost need to want to do it so that you can do well. I overall think it's a great course and it was very fun, although it is difficult, I felt very accomplished once something ran without flaw and was finished.
  </p>
  
<img src="https://cdn.glitch.com/3de4d01e-ad1c-4b7b-8fd9-03cf7d05b6f9%2Fme.jpg?v=1579276201290" alt="me" height="200" width="170">

  <img src="https://cdn.glitch.com/3de4d01e-ad1c-4b7b-8fd9-03cf7d05b6f9%2Fthe%20computer.jpg?v=1579278432439" alt="me" height="200" width="170">

  
   </body> 
   </center>
</html>
